{% extends 'base.html' %}

{% block content %}

  </head>
<body>

<div align="center">
    {% for y in people %}
    <li> {{ y.username }} <br>
        <button id="message2">Message Me</button>
         <div id="creepin2" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  Title:<input id="subject" type="text">
              </div>
              <div class="modal-body">
                  Message:<textarea id="messages" name="sendform" cols="55" rows="15" ></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="push" type="button" class="btn btn-primary">Send</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </li>
    {% endfor %}
</div>

{% endblock %}