{% extends 'base.html' %}


{% block content %}

<div id='profile' class="row" style="height: 1100px;">
   <div class="col-sm-4 col-sm-offset-4">
       <p style="font-weight:bold" align="center"> Welcome {{ user.first_name}} {{user.last_name }} ! Your last login time was at
           {{ user.last_login }}</p><br>


        <p align="center"> Want to check your flight status?
            <br>Please Enter Your Flight Information Below!<br><br>
        </p>

        <div id = 'display' align="center" >
        </div>

        <form role="form" class="form-horizontal">
            <div class="form-group">
                <p style="color: white" class="label-control">Airline: ( <u>IATA code only</u>) </p>
                <input id='airline' type="text" name="airline" class="input-lg form-control">
            </div>
            <div class="form-group">
                <p style="color: white">Flight #: </p>
                <input id='flight_num' type="text" name="flight#" class="input-lg form-control">
            </div>
            <div class="form-group">
                <p style="color: white" class="label-control">Year:</p>
                <input id='year' type="text" name="year" class="input-lg form-control">
            </div>
            <div class="form-group">
                <p style="color: white" class="label-control">Month:</p>
                <input id='month' type="text" name="month" class="input-lg form-control">
            </div>
            <div class="form-group">
                <p style="color: white" class="label-control">Day:</p>
                <input id='day' type="text" name="day" class="input-lg form-control">
            </div>
            <div class="form-group">
                 <input class="input-lg form-control btn-teal" id="give_me" type="button" value="Search">
            </div>
            <div class="form-group">
                <a href={% url 'logout' %}>
                    <input class="input-lg form-control btn-teal" type="button" value="Logout" >
                 </a>
            </div>
        </form>
   </div>

    <div id='flightModal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p  align="center">We're sorry your flight is delayed...</p>
                    <p id="minutes" align="center"></p>
                    <p align="center"> Let's not waste time and do something fun!<br>
                    What would you like to do now?
                    </p>
                    <!--<div class="selection">-->

                    <form method="POST" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                            <br>
                            <input type="submit" class="input-lg form-control btn-teal" >
                        </div>
                    </form>
                 <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>


    <div id='flightModal1' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div id='modal1' class="modal-content">
            <p align="center">Awesome! Your flight is currently on time and you're good to go!
            <br>
                Have a safe flight!
            </p>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $("select#id_category").addClass("input-lg form-control");
    </script>

{% endblock %}
